parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$components of method Filament\\Forms\\ComponentContainer\:\:schema\(\) expects array\<Filament\\Forms\\Components\\Component\>\|Closure, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Forms/UserForm.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Forms\\UserFormSchema\:\:getFormSchema\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Forms/UserFormSchema.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Forms\\UserFormSchema\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Forms/UserFormSchema.php

		-
			message: '#^Parameter \#1 \$components of method Filament\\Forms\\Components\\Component\:\:schema\(\) expects array\<Filament\\Forms\\Components\\Component\>\|Closure, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Forms/UserFormSchema.php

		-
			message: '#^Parameter \#1 \$components of method Filament\\Infolists\\ComponentContainer\:\:schema\(\) expects array\<Filament\\Infolists\\Components\\Component\>\|Closure, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/InfoLists/UserInfoList.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\InfoLists\\UserInfoListSchema\:\:getInformationSectionSchema\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/InfoLists/UserInfoListSchema.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\InfoLists\\UserInfoListSchema\:\:getTimeStampsSectionSchema\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/InfoLists/UserInfoListSchema.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\InfoLists\\UserInfoListSchema\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/InfoLists/UserInfoListSchema.php

		-
			message: '#^Parameter \#1 \$components of method Filament\\Infolists\\Components\\Component\:\:schema\(\) expects array\<Filament\\Infolists\\Components\\Component\>\|Closure, array given\.$#'
			identifier: argument.type
			count: 2
			path: app/Filament/Resources/UserResource/InfoLists/UserInfoListSchema.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Pages\\UserPages\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Pages/UserPages.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\RelationManagers\\UserRelations\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/RelationManagers/UserRelations.php

		-
			message: '#^Parameter \#1 \$actions of method Filament\\Tables\\Table\:\:actions\(\) expects array\<Filament\\Tables\\Actions\\Action\|Filament\\Tables\\Actions\\ActionGroup\>\|Filament\\Tables\\Actions\\ActionGroup, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTable.php

		-
			message: '#^Parameter \#1 \$actions of method Filament\\Tables\\Table\:\:bulkActions\(\) expects array\<Filament\\Tables\\Actions\\ActionGroup\|Filament\\Tables\\Actions\\BulkAction\>\|Filament\\Tables\\Actions\\ActionGroup, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTable.php

		-
			message: '#^Parameter \#1 \$components of method Filament\\Tables\\Table\:\:columns\(\) expects array\<Filament\\Tables\\Columns\\Column\|Filament\\Tables\\Columns\\ColumnGroup\|Filament\\Tables\\Columns\\Layout\\Component\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTable.php

		-
			message: '#^Parameter \#1 \$filters of method Filament\\Tables\\Table\:\:filters\(\) expects array\<Filament\\Tables\\Filters\\BaseFilter\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTable.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Tables\\UserTableActions\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTableActions.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Tables\\UserTableBulkActions\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTableBulkActions.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Tables\\UserTableColumns\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTableColumns.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\Tables\\UserTableFilters\:\:make\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Filament/Resources/UserResource/Tables/UserTableFilters.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\UserResource\:\:getLabel\(\) should return string but returns array\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Filament/Resources/UserResource/UserResource.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\UserResource\:\:getPages\(\) should return array\<string, Filament\\Resources\\Pages\\PageRegistration\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/Filament/Resources/UserResource/UserResource.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\UserResource\:\:getPluralLabel\(\) should return string but returns array\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Filament/Resources/UserResource/UserResource.php

		-
			message: '#^Method App\\Filament\\Resources\\UserResource\\UserResource\:\:getRelations\(\) should return array\<class\-string\<Filament\\Resources\\RelationManagers\\RelationManager\>\|Filament\\Resources\\RelationManagers\\RelationGroup\|Filament\\Resources\\RelationManagers\\RelationManagerConfiguration\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/Filament/Resources/UserResource/UserResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Guard\:\:logout\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Cannot access property \$email on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Cannot call method forceFill\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Cannot call method save\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$key of function __ expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\PasswordReset constructor expects Illuminate\\Contracts\\Auth\\Authenticatable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Registered constructor expects Illuminate\\Contracts\\Auth\\Authenticatable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Parameter \#1 \$user of static method Illuminate\\Support\\Facades\\Auth\:\:login\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method update\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Cannot access property \$email_verified_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method delete\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method fill\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method isDirty\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method save\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Parameter \#1 \$followables of method App\\Models\\User\:\:attachFollowStatus\(\) expects array\|Illuminate\\Database\\Eloquent\\Model\|Illuminate\\Pagination\\LengthAwarePaginator\|Illuminate\\Pagination\\Paginator\|Illuminate\\Support\\Collection\|Illuminate\\Support\\LazyCollection, Illuminate\\Contracts\\Pagination\\LengthAwarePaginator given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Welcome/WelcomeController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Models\\User\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Welcome/WelcomeController.php

		-
			message: '#^Call to an undefined method object\:\:explode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Cannot use array destructuring on mixed\.$#'
			identifier: offsetAccess.nonArray
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Method App\\Http\\Middleware\\HandleInertiaRequests\:\:share\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Parameter \#1 \$string of function mb_trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Parameter \#1 \$string of function str expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:lower\(\) expects string, Illuminate\\Support\\Stringable given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Requests/Auth/LoginRequest.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Requests/Settings/ProfileUpdateRequest.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Factory\:\:check\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/Filament/AdminPanelProvider.php
