parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Guard\:\:logout\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: '#^Method App\\Http\\Middleware\\HandleInertiaRequests\:\:share\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/HandleInertiaRequests.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Illuminate\\Database\\Eloquent\\Model, App\\Models\\Comment\>\:\:contains\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Method App\\Http\\Resources\\Hunt\\HuntResource\:\:commentsWithHasLiked\(\) return type with generic class Illuminate\\Support\\Collection does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) expects callable\(mixed, int\|string\)\: App\\Models\\Comment, Closure\(App\\Models\\Comment\)\: App\\Models\\Comment given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<Akira\\Commentable\\Models\\Comment, App\\Models\\Hunt\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Property App\\Models\\Comment\:\:\$has_liked \(bool\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: app/Http/Resources/Hunt/HuntResource.php
